
body{
    font-family: 'Poppins', sans-serif;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.icon{
    display: flex;
    align-items: center;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
    list-style: none;
    margin: 12px;
}

.nav-bar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.fa{
    margin: 12px;
}

.header-title2{
    font-size: 45px;
    padding-left: 8px;
}

.container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.header-text-area{
    width: 50%;
    margin-left: 4%;
}

.button{
    text-decoration: none;
    width: 30px;
    padding: 6px 19px;
    background-color: rgb(240, 47, 127);
    color: white;
    border: 1px solid red;
    border-radius: 16px;
}

.logo img{
    width: 80px;
    height: 50px;
    margin-bottom: 18px;
    padding-right: 80px;
}
.logo{
    margin-left: 80px;
}
 .section-title{
     display: flex;
     align-items: center;
     justify-content: center;
 }
.product{
    width: 33%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(9, 3fr);
}
.products-banner img{
    height: 225px;
    width: 200px;
}
.products-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: yellow;
}
.last-products{
    width: 500px;
    padding: 0% 0% 0% 0%;
}
.featured{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: rgb(9, 10, 83);
    padding-bottom: 2%;
     color: whitesmoke;
    text-align: center;
}

@media screen and (max-width: 688px) {
    .All{
        width: 100%;
    }
    .top-header{
        grid-template-columns: repeat(1, 1fr);
    }
    .hr{
        width: 100%;
    }
    .logo{
        grid-template-columns: repeat(3, 1fr);
    }
    
}